pandas
tqdm
tiktoken
lxml
minify-html
html5lib
langgraph
typing-extensions
python-dotenv
json-repair
inscriptis
tokenizers
cssselect
langchain-openai
langchain-anthropic
langchain-google-genai
langchain-community
jinja2